.content-container{
    display: flex;
    flex-direction: column;   
    width: 100%;
    justify-content: center; 
}
/* ---------- PERSONNAGES CONTAINER ----------   */
.perso-container {
    display: grid;
    grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
    height: 50vh;
    width: 100vw;
    border:blue 5px solid;
}

.dorian {
    position: absolute;
    font-size: 100px;
   

}

.basil {
    position: absolute;
    font-size: 100px;
    left: 50%;
}

.tableau {

}

/* ---------- HARRY CONTAINER ----------   */

.harry-container {
    display: grid;
    grid-template: repeat(3, 122px) 1fr / repeat(11, 160px) 1fr; 
    height: 40vh;
    width: 100vw;
    border:orange 5px solid;

}

.harry {
font-size: 100px;
grid-column-start: 5;
grid-column-end: 8;
grid-row-start: 1;
grid-row-end: 2;
}


/* ---------- CADRE1 CONTAINER ---------- */
.cadre1-container {
        display: grid;
        grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
        height: 150vh;
        width: 100vw;
        border: red 5px solid;
}

.cadre1-container img {
    height: 90vh;
}

.cadre1{
grid-column-start: 2;
grid-row-start: 3;

}

.portrait-1 {
grid-column-start: 2;
grid-row-start: 3;
    
}

   
/* ---------- SOFT CONTAINER ---------- */

.soft-container {
    display: grid;
    grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
    height: 150vh;
    width: 100vw;
    border: blue 5px solid;
}

.soft-container img {
    height: 80vh;
    
}

.cloudEasy {    
    grid-column-start: 2;
    grid-row-start: 3;

}

/* ---------- CADRE2 CONTAINER ---------- */

.cadre2-container {
    display: grid;
    grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
    height: 150vh;
    width: 100vw;
    border: orange 5px solid;
}

.cadre2-container img {
    height: 90vh;
}

.cadre-2{
    grid-column-start: 2;
    grid-row-start: 3;
}

.portrait-2 {
    grid-column-start: 2;
    grid-row-start: 3;
}

/* ---------- MID CONTAINER ---------- */

.mid-container {
    display: grid;
    grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
    width: 100vw;
    border:violet 5px solid;
}

.mid-container img {
    height: 100vh;
}

.cloudMid {    
    grid-column-start: 2;
    grid-row-start: 3;    
}

/* ---------- CADRE3 CONTAINER ---------- */

.cadre3-container {
    display: grid;
    grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
    height: 150vh;
    width: 100vw;
    border: gray 5px solid;
}

.cadre3-container img{
    height: 90vh;
}

.cadre-3{
    grid-column-start: 2;
    grid-row-start: 3;
}

.portrait-3 {
    grid-column-start: 2;
    grid-row-start: 3;
}
/* ---------- HARD CONTAINER ---------- */

.hard-container {
    display: grid;
    grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
    width: 100vw;
    border: greenyellow 5px solid;
}

.hard-container img {
    height: 100vh;
}

.cloudHard{
    grid-column-start: 2;
    grid-row-start: 3;
}

/* ---------- CADRE4 CONTAINER ---------- */

.cadre4-container {
    display: grid;
    grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
    height: 150vh;
    width: 100vw;
    border: royalblue 5px solid;
}

.cadre4-container img{
    height: 90vh;
}

.cadre-4 {
    grid-column-start: 2;
    grid-row-start: 3;
}

.portrait-4 {
    grid-column-start: 2;
    grid-row-start: 3;
}

/* ---------- TOTAL CONTAINER ---------- */

.total-container {
    display: grid;
    grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
    height: 150vh;
    width: 100vw;
    border: yellow 5px solid;
}

.total-container img {
    height: 120vh;
}

.cloudTotal{
    grid-column-start: 1;
    grid-row-start: 1; 
}

/* ------------ CADRE 5 ------------  */
.cadre5-container {
    display: grid;
    grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
    height: 150vh;
    width: 100vw;
    border: red 5px solid;
}

.cadre5-container img{
    height: 90vh;
}

.cadre-5{
    grid-column-start: 2;
    grid-row-start: 3;
}

.portrait-5{
    grid-column-start: 2;
    grid-row-start: 3;
}



/* ------------ CADRE 6 ------------  */
.cadre6-container {
    display: grid;
    grid-template: repeat(10, 122px) 1fr / repeat(20, 160px) 1fr; 
    height: 150vh;
    width: 100vw;
    border: blueviolet 5px solid;
}

.cadre6-container img {
    height: 90vh;
}

.cadre6{
    grid-column-start: 2;
    grid-row-start: 3;
}

.portrait-6 {
    grid-column-start: 2;
    grid-row-start: 3;
}