

.harry {
    font-size: 34vh;
    margin-left: 20vh; 
}




.cloudEasy {


}

.easy-1 {
position: relative;
width: 150vh;

}

.easy-2 {
    position: relative;
    width: 150vh;
    left: 20px;
    top: -750px
    
}

.easy-3 {
    position: relative;
    width: 150vh;
    top : -1500px ;


}

         .cloudMid {
         
        }

            .mid-soft {
            position: relative;
            width: 100vh;
            left: 40px;
            }

            .mid-1 {
            position: relative;
            width: 100vh;
}

    .mid-2 {
    position: relative;
    width: 100vh;
}

    .mid-3 {
    position: relative;
    width: 100vh;
}

    .mid-4 {
    position: relative;
    width: 100vh;
}

        .cloudHard {

        }

        .hard-soft {
            position: relative;
            width: 100vh;
        }

        .hard-mid {
            position: relative;
            width: 100vh;
        }

        .hard-1 {
            position: relative;
            width: 100vh;
        }

        .hard-2 {
            position: relative;
            width: 100vh;
        }

        .hard-3 {
            position: relative;
            width: 100vh;
        }

